/target/**
/ddbstoolkit-core/target/**
/ddbstoolkit-jena/target/**
/ddbstoolkit-demo/target/**
/ddbstoolkit-jgroups/target/**
/ddbstoolkit-mysql/target/**
/ddbstoolkit-sqlite/target/**
/ddbstoolkit-sqlspaces/target/**
/ddbstoolkit-sqlspaces/*.log*
**/**.class
**/.DS_Store
**/.classpath
**/.settings/**
**.iml
.idea/**
**.project
.settings/**
**/**.project
ddbstoolkit-jdbc/bin/**
