/ddbstoolkit-core/target/**
/ddbstoolkit-jena/target/**
/ddbstoolkit-demo/target/**
/ddbstoolkit-jgroups/target/**
/ddbstoolkit-mysql/target/**
/ddbstoolkit-sqlite/target/**
/ddbstoolkit-sqlspaces/target/**
/ddbstoolkit-sqlspaces/*.log*
**/.DS_Store
**/.classpath
**/.settings/**
